{% extends 'base.html.twig' %}

{% block title %}FastJob{% endblock %}

{% block body %}
    <div class="text-center align-items-center">
        <h1 class="text-custom" style="margin-bottom: 10vh">Bonjour et bienvenue</h1>
        <div class="  d-flex justify-content-center">
            <div class="card shadow">
            <p  class="fs-2 p-3">Vous vous trouvez sur le site "prototype" <span class="text-custom">Fastjob</span>.<br>
        C'est un projet entièrement réalisé en Symfony 6. <br>
        Il se veut être un site de mise en relation entre entreprise et candidat (comme certains sites connus)<br>
        Ce projet est toujours dans sa phase développement et continuera à évoluer.<br>
        Pour toute remarque n'hésitez pas à me contacter : j.bahbouche@gmail.com</p>
        </div></div>
    </div>
{% endblock %}
