{% extends 'base.html.twig' %}

{% block title %}Vos informations{% endblock %}

{% block body %}
<main class="form-signin card shadow">
    <div class="text-center mb-4">
        <img src="{{ asset('assets/img/FastJob.png') }}" class="logo" alt="logo FastJob">
    </div>
    <h1 class="h3 mb-3 font-weight-normal">Deuxième étape : vos informations </h1>
        {{ include('candidat/_form.html.twig') }}

</main>
{% endblock %}
