{{ form_start(form, {'action': path('app_candidater', {'id': id})}) }}
    {{ form_widget(form) }}
    <button class="btn btn-custom text-white">{{ button_label|default('Envoyer ma candidature') }}</button>
{{ form_end(form) }}
